* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

body {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1, p, img, ol, ul, a, table {
    margin-bottom: 10px;
}

img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

th, td {
    text-align: center;
    padding: 5px;
}

table, th, td {
    border: 2px solid;
}